<section *ngIf="!isEditMode">
  <h1>
    {{title}} Information
  </h1>

  <ul>
    <li>Name : {{user.name}}</li>
    <li>Age : {{user.age}}</li>
    <li>Weight : {{user.weight}}</li>
    <li>Height : {{user.height}}</li>
    <span *ngIf="user.isHealthy()">User is healthy</span>
  </ul>
  <button (click)="user.printUserBMI()">CHECK BMI</button>
  <button (click)="isEditMode=true">EDIT Mode </button>
</section>

<section *ngIf="isEditMode">
  <pre>{{user | json}}</pre>
  <h2>Editor</h2>
  <input type="text" [(ngModel)]="user.name" />
  <input type="text" [(ngModel)]="user.age" />
  <button (click)="onCheckAge()">check age</button>
  <button (click)="isEditMode=false">VIEW Mode</button>
</section>