<section *ngIf="!isEditMode">
  <app-user-editor></app-user-editor>
  <h1>
    {{title}} Information
  </h1>

  <ul>
    <li *ngFor="let user of users | filterPipe; let i=index" (click)="selectedUser=user">Name : {{user.name}} | Age : {{user.age | myPipe}} | <button (click) = "deleteUserByIndex(i)">x</button></li>

    <li>Selected user name: {{selectedUser.name}}</li>
    <li>Age : {{selectedUser.age | myPipe}}</li>
    <li>Weight : {{selectedUser.weight}}</li>
    <li>Height : {{selectedUser.height}}</li>
    <span *ngIf="selectedUser.isHealthy()">User is healthy</span>
  </ul>

  <p>Age sum: {{users | sumPipe | myPipe}}</p>
  <button class="btn btn primary" (click)="selectedUser.printUserBMI()">CHECK BMI</button>
  <button class="btn btn primary" (click)="isEditMode=true">EDIT Mode </button>
  <button (click)="deleteUser(selectedUser)">delete selected user</button>
  <button (click)="addUser()">add user</button>

</section>

<section *ngIf="isEditMode">
  <pre>{{users | filterPipe | json}}</pre>
  <h2>Editor</h2>
  <input type="text" [(ngModel)]="selectedUser.name" />
  <input type="text" [(ngModel)]="selectedUser.age" />
  <button (click)="onCheckAge()">check age</button>
  <button (click)="isEditMode=false">VIEW Mode</button>
</section>